@import "tailwindcss";
@import "@nuxt/ui";

body {
    background-color: #fffdf9;
    color: black;
}

@theme {
  --color-rust-900: #8a3e12;
  --color-rust-600: #AD4F09;
  --color-gold-400: #d4a24e;
  --color-ink-900: #171310;
  --color-sand-50: #f7f1e8;
  --color-success: #22c55e;
  --color-danger: #B3261E;
  --color-information: #2563eb;
}
:root {
  /* light theme*/
  --bg: #fffdf9;
  --surface: #ffffff;
  --border: #e2e8f0;
  --hover: #cfd5dd;

  --text-primary: #0f172a;
  --text-secondary: #2b4160;
  --text-third: #64748b;

  --danger: #ef4444;
  --success: #22c55e;
  --primary: #2563eb;
  --warning: #f59e0b;

  --badge-danger-soft: #fee2e2;
  --badge-success-soft: #dcfce7;
  --badge-primary-soft: #dbeafe;
  --badge-warning-soft: #fef3c7;

  /*Button*/
  --btt-bg: #c79e46;
  --btt-hover: #ad8136;
  --bttg-bg: #fcf2e1;

  /* input */
  --input-bg: #f4f4f4;

  /*Skeleton*/
  --skeleton-bg: var(--hover);
}
/* dark theme */
.dark {
  --bg: rgb(10, 10, 10);
  --surface: #050505;
  --border: #212121;
  --hover: #141414;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --text-third: #768498;

  --badge-danger-soft: #7f1d1d;
  --badge-success-soft: #14532d;
  --badge-primary-soft: #1e3a8a;
  --badge-warning-soft: #78350f;
  
  --bttg-bg: #c7a46839;

  --input-bg: #2d3e58;

  --skeleton-bg: #334155;
}